registry=https://estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/registry/
always-auth=true
; begin auth token
//estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/registry/:username=estratec
//estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/registry/:_password=c2g2aWR6bDNkcHJydjZkZWF0N2xuZmd1ZXN0NW11NDJ0NXRoNGtqbnFja3VmdGhjaTYzYQ==
//estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/registry/:email=alexander.satizabal@masiv.com
//estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/:username=estratec
//estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/:_password=c2g2aWR6bDNkcHJydjZkZWF0N2xuZmd1ZXN0NW11NDJ0NXRoNGtqbnFja3VmdGhjaTYzYQ==
//estratec.pkgs.visualstudio.com/MasivianFront/_packaging/MasivappRegistry/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
// MasivappRegistry-December2023 - Expires: 20/03/2024;